* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    color: white;
    font-family: 'Raleway', sans-serif;
    background: rgb(54,77,204);
    background: linear-gradient(180deg, rgba(54,77,204,1) 0%, rgba(19,37,136,1) 100%);
}

.avatar {
    width: 80px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 0px;
}
h2 {
    font-size: 16px;
    margin-top: 2px;
}

.profile {
    text-align: center;
    margin-top: 20px;
}

.social-media {
    display: flex;
    justify-content: space-around; /*Só pode ser usado com o display: felx;*/
    list-style: none;
    margin: 2 0px 0px;
}

.social-media img {
    width: 35px;
}

.links-list {
    list-style: none ;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
     display: block;
     background: white;
     padding: 15px 20px;
     border-radius: 10px; 
     text-decoration: none;
     color: rgb(54,77,204);
     font-weight: bolder;
}

.links-list li a span {
     color: grey;
     display: block;
     margin-top: 10px;
}